html {
    body {
        margin: auto;
        padding: auto;
        background: #fafafa;
        font-family: 'Pompiere', cursive;
    }
    button {
      font-family: 'Pompiere', cursive;
    }
}

// font-family: 'Amatic SC', cursive;
// font-family: 'Pompiere', cursive;
